body
{
background:linear-gradient(#3385ff,#cce0ff) #cce0ff no-repeat;
max-width:100%;
max-height:100%;
}


.calbody
{
	position:relative;
	width: 25%;
	top: 60px;
	left: 40%;

}
.heading
{
	text-align: center;
	font-size:50px;
}
.calbody input
{
	position: relative;
	text-align: right;
	font-size: 20px;
	width: 80%;
	height: 35px;
	background-color: #cce5ff;
}
.digit
{
	position:relative;
	border-radius: 5px;
        width: 15%;
	height: 35px;
	margin: 2%;
	background: linear-gradient(#666666,#00b8e6) black no-repeat;
	font-weight: 900;
}

.clear
{
	position:relative;
	border-radius: 5px;
        width: 15%;
	height: 35px;
	margin: 2%;
	background: linear-gradient(#666666,#ff1a1a) black no-repeat;
	font-size: 15px;
	font-weight: 900;
}
.operator
{
	position: relative;
	border-radius: 5px;
        width: 15%;
	height: 35px;
	margin: 2%;
	background: linear-gradient(#666666,#4ce600) black no-repeat;
	font-size: 15px;
	font-weight: 900;
}

.answer
{
	position:relative;
	border-radius: 5px;
        width: 15%;
	height: 35px;
	margin: 2%;
	background: linear-gradient(#666666,#ff6700) black no-repeat;
	font-size: 15px;
	font-weight: 900;
}
.digit:hover
{
	position:relative;
	border-radius: 5px;
        width: 15%;
	height: 35px;
	margin: 2%;
	background:linear-gradient(#00ffcc,white) black no-repeat;
	font-size: 15px;
	font-weight: 900;
        cursor:pointer;
}
.clear:hover
{
	position:relative;
	border-radius: 5px;
        width: 15%;
	height: 35px;
	margin: 2%;
	background:linear-gradient(#ff1a1a,white) black no-repeat;
	font-size: 15px;
	font-weight: 900;
        cursor:pointer;
}
.operator:hover
{
	position: relative;
	border-radius: 5px;
        width: 15%;
	height: 35px;
	margin: 2%;
	background:linear-gradient(#33ff33,white)black no-repeat;
	font-size: 15px;
	font-weight: 900;
        cursor:pointer;
}

.answer:hover
{
	position:relative;
	border-radius: 5px;
        width: 15%;
	height: 35px;
	margin: 2%;
	background:linear-gradient(#ff944d,white) black no-repeat;
	font-size: 15px;
	font-weight: 900;
        cursor:pointer;
}

.answer:active
{
        position:relative;
        margin-top: 2px;
	border-radius: 5px;
        width: 14.5%;
	height: 35px;
	margin: 2%;
	background-color:white;
	font-size: 13px;
	font-weight: 900;
        cursor:pointer;
}

.footer
{
	color:white;
	font-size: 45%;
}